@import './app/variables';

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favorites-info {
  line-height: 120%;
  padding: 20px 75px;
  font-family: $bookInfoFont;
  font-size: 18px;
  text-align: center;
  background-color: $favoritesHover;
  color: $darkColor;
}

.back:hover, .update:hover {
  background-color: $listHover;
}
