@import './app/variables';

body {
  background-color: $lightColor;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.book-title {
  font-family: $bookTitleFont;
  font-size: 32px;
  color: $darkColor;
}

.book-author {
  font-family: $bookInfoFont;
  font-size: 24px;
  color: $darkColor;
}

.book-description {
  font-family: $bookInfoFont;
  font-size: 18px;
  color: $darkColor;
}

.book-image {
  display: inline-block;
}

.nyt-logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.individual-book {
  margin: 40px;
}

.info-text {
  width: 375px;
}
