@import './app/variables';

.button-container {
  display: flex;
  flex-direction: row;
}

.link {
  @include buttonStyle;
  height: 75px;
}

.button {
  @include buttonStyle;
}

.favorites-button {
  @include buttonStyle;
  font-size: 24px;
}

.button:hover {
  background-color: #ff8484;
  color: $darkColor;
}

.favorites-button:hover {
  background-color: $favoritesHover;
  color: $darkGold;
}

.button-clicked {
  background-color: $listHover;
  color: $darkColor;
}
// 
// .star-button {
//   position: absolute;
//   font-size: 26px;
//   width: 50px;
//   color: $lightColor;
//   border: none;
//   outline: none;
//   background: -webkit-linear-gradient(left, $darkColor , transparent);
// }
//
// .star-button:hover {
//   color: $favoritesHover;
//   background: -webkit-linear-gradient(left, $darkGold, transparent);
// }

.clicked-favorite {
  color: $favoritesHover;
  background: -webkit-linear-gradient(left, $darkGold, transparent);
}
