$lightColor: #f6f6f6;
$darkColor: #090f0f;
$listHover: #ff6666;
$favoritesHover: #e5c100;
$darkGold: #665600;

$appTitleFont: 'Cinzel Decorative', cursive;;
$bookTitleFont: 'Cantata One', serif;
$bookInfoFont: 'Petrona', serif;

@mixin buttonStyle {
  width: 100%;
  height: 100%;
  font-family: 'Cinzel', serif;
  background-color: #090f0f;
  color: #f6f6f6;
  outline: none;
  border: none;
}
